<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>de.digital-masters.gesturecam</string>
    <key>CFBundleName</key>
    <string>gesturecam</string>
    <key>NSCameraUsageDescription</key>
    <string>gesturecam watches your hands to trigger shortcuts. Frames never leave the device.</string>
</dict>
</plist>
